body {
    font-family: Avenir, Helvetica, sans-serif;
}

.header {
    height: 140px;
    border: 6px solid #999999;
    position: relative;
    width: 750px;
}

.title {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.kobuntango, .kanji {
    font-size: 40px;
    width: 750px;
    box-sizing: border-box ;
    border-bottom: 3px solid #999999;
    float: left;
    padding: 20px;
    height: auto;
    margin: 20px 0px 1px 0px;
}

.kobuntango_, .kanji_ {
    margin: 3px;
    font-size: 60px;
    float: right;
}
